.article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article__description {
  display: -webkit-box;
  height: 60px;
  margin-bottom: 5px;

  overflow: hidden;
  text-overflow: ellipsis;
  
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.article__image {
  height: 80px;
  margin-bottom: 8px;
}